body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: red;
}

.item {
	height: 300px;
	width: 300px;
	background-color: lightblue;
	border: 1px solid black;
	margin: 10px 10px;
}


p.motiv {
	color: red;
	visibility: hidden;
}

.names {
	vertical-align: top;
	list-style: none;
	top: 20%;
}

.cat, .year {
	text-align: center;
}

.physics {
	background-color: green;
}