body {
	background: url(http://res.cloudinary.com/dtk22y6kq/image/upload/v1501002621/Wood_floor_by_gnrbishop_nvm8j0.jpg);
    background-repeat: repeat;
    font-size: 1.5em;
}

h1 {
	text-align: center;
}

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	margin: 10px 10px;
	border-radius: 10px;
	overflow: auto;
}

.cat {
	font-weight: bold;
}

p.motiv {
	color: red;
	visibility: hidden;
}

.names {
	vertical-align: top;
	list-style: none;
	top: 20%;
}

.cat, .year {
	text-align: center;
}

.physics {
	background-color: #e1f7d5;
}

.chem {
	background-color: #ffbdbd;
}

.med {
	background-color: #c9c9ff;
}

.lit {
	background-color: #FFC65B;
}

.peace {
	background-color: white;
}

.econ {
	background-color: #FFF06A;
}